.flowers {
  background: rgb(241, 163, 157);
  background: linear-gradient(
    90deg,
    rgba(241, 163, 157, 1) 16%,
    rgba(212, 213, 199, 1) 47%,
    rgba(227, 174, 169, 1) 91%
  );
  height: 100%;
  width: 100%;
}
.containerMine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeH1 {
  color: #c31952;
  height: 10px;
  width: 40%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
