/* @import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap"); */

.flowers {
  background: rgb(255, 207, 207);
  background: linear-gradient(
    90deg,
    rgba(255, 207, 207, 1) 0%,
    rgba(212, 213, 199, 1) 47%,
    rgba(244, 148, 148, 1) 95%
  );
  /* height: 0%; */
  width: 100%;
}
.containerMine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerMin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeH1 {
  margin-bottom: 30%;
  margin-left: 12%;
  /* color: #c31952; */
  /* color: rgb(255, 0, 0); */
  color: black;
  height: 10px;
  width: 40%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutH1 {
  margin-bottom: 30%;
  margin-right: 16%;
  /* color: #c31952; */
  /* color: rgb(255, 0, 0); */
  color: black;
  height: 30px;
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  /* margin-left: 6%; */
  width: 420px;
  font-size: 60px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

h5 {
  max-width: 700px;
  font-size: 50px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.text___2xMgH {
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  align-items: stretch;
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
  /* margin: auto 24px 40px; */
  /* max-width: 40%; */
  padding: 40px 24px;
  position: relative;
  z-index: 1;
}

.text___2xMgH .title___1A6wu {
  color: #000;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.1;
  margin: 0 0 24px;
}

.text___2xMgH .description___3jusX {
  margin: 0 0 24px;
  white-space: pre-wrap;
}
